{% extends 'nav.html'%}
{% block content %}
<!--==============================content================================-->
<section id="content">
  <div>
    <div class="wrap">
      <div class="col-1 border-2">
        <h2 class="p3">Image Steganography And Encryption using AES Algorithm</h2>
        <div class="wrap"> <img src="images/page1-img4.jpg" alt="" class="img-indent img-radius">
          <p class="extra-wrap">Image steganography is a technique used to hide secret data inside an image. 
            This process ensures that the hidden message remains invisible to the naked eye, making it a useful method for secure communication.</p>
        </div>
        <div class="wrap top-2">
          <ul class="list-1 fleft">
            <li><a href="about.html">About</a></li>
           
          </ul>
          
        </div>
        <a href="about" class="button-1 top-3">Read More</a> </div>
      
  </div>
</section>
<!--==============================footer=================================-->
<footer>
  <p>© 2025 <a href="#" class="link">Image Steganograpy And Encryption Using AES Algorithm</a> </p>
  <p>Phone: +91 7411406432 &nbsp; Email:<a href="#" class="link">pmgstg@gmail.com</a></p>
</footer>
</body>
</html>
{% endblock %}